/*footer*/
.sosial_media_icons {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0%;
  margin: 0%;

  img {
    width: 35px;
    height: 36px;
    object-fit: cover;
  }

}

.Navigate-foot {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.Navigate-foot a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(72, 65, 98);
  font-weight: 500;
  font-size: 15px;
}

.Navigate-foot a:hover {
  color: #007bff;
}

.footer {
  margin-top: 100px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.footer p {
  left: 50%;
  max-width: 50%;

}

/*header*/
.open {
  display: flex !important;
}

.header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header_image {
  text-align: center;

  img {
    width: 300px;
    max-width: auto;
    height: auto;
  }

}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0%;
  margin: 40px 0;
  justify-self: auto
}

.nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav a:hover {
  color: #007bff;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: black;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all 0.3s ease 0s;
}

.burger::before {
  top: 0
}

.burger::after {
  bottom: 0
}

.burger.active span {
  transform: scale(0)
}

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {
  .burger {
    display: flex;
    cursor: pointer;
  }

  .nav.active {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #f9f9f9;
    animation: burgerAnimation 0.6s;

    background-image: url('background/my\ green.png');
  }

  .nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-self: center;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


/*content*/
.content {
  flex: 1;
  padding: 40px 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  align-items: flex-start;

  img {

    align-items: flex-start;
    width: 500px;
  }

  font-family: Arial,
  Helvetica,
  sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.content h1 {

  margin-bottom: 50px;
  /* отступ сверху и снизу */


}
.Lodo.Description h3, h4, p{
  font-family: Arial, Helvetica, sans-serif;
}
/*web-site exemples*/
.web-site{
   flex: 1;
  padding: 40px 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
.web-site {
  font-family: Arial, Helvetica, sans-serif;
}

.content-UX h1{
  font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 1000px){
  .web-site{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}


/*scrollbar*/
.visible-scrollbar {
  display: block;
  width: 400px;
  overflow: auto;
  height: 600px;
  padding: 1em;
  margin: 1em auto;
  outline: 2px dashed cornflowerblue;
}






.web-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;

  img {
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
  }
}

.catalog {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
}

.catalog img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
  filter: brightness(50%);
  transition: filter 0.4s ease;
}

.catalog:hover img {
  filter: brightness(100%);
}

.catalog h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 900px;


}

/*slider*/
.slider {
  width: 300px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 100%;
  flex-shrink: 0;
}
.slide img{
  width: 100%;
  display: block;
}
.prev, .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  z-index: 2;
}

.prev{
  left: 10px;
}
.next{
  right: 10px;
}
@media (max-width: 480px) {
  .slider{
    height: 600px;
    width: 240px;
    
  }
  .prev, .next {
    padding: 5px;
    font-size: 14px;
  }
  .caption {
    font-size: 12px;
    padding: 3px 6px;
  }

}

/* Media query для экранов до 600px */
@media (max-width: 600px) {

  /* Социальные иконки */
  .sosial_media_icons {
    display: flex;
    /* обязательно, если не задано глобально */
    flex-direction: row;
    /* горизонтально */
    justify-content: center;
    /* центрируем весь блок по горизонтали */
    align-items: center;
    /* вертикальное выравнивание иконок */
    gap: 10px;
    /* промежутки между иконками */
  }

  .sosial_media_icons img {
    width: 25px;
    height: 26px;
  }



  .header_image img {
    width: 200px;
   
    height: auto;
  }

  /* Контент основной */
  .content {
    flex-direction: column;
    gap: 10px;
    padding: 20px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content img {
    width: 100%;
    height: auto;
  }



  /* Футер */
  .About-me{
    padding: 20px 10px;
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
  }
  .footer {
    padding: 20px 10px;
    text-align: center;
    padding: 20px 10px;
    font-size: 10px;
  }

  .footer p {
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 15px;
  }
  .web-container{
    flex-direction: column;
    align-items: center;
  }
}

/*map*/
.map{
  width: 100%;
  height: 100vh;
}